**Jasmin Putri Jelita - 202110370311075**

**Tazkia Damayanti - 202110370311090**

**UTS TEMU KEMBALI INFORMASI**

In [4]:
import pandas as pd
import numpy as np
import os
import nltk
import re
import operator
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
df = pd.read_excel('D:\College\Semester 7\Temu Kembali Informasi (TKI)\Dataset-Narkotika_075_090\Overview\Overview.xlsx')
df.head(5)

,nomor,lembaga_peradilan,barang bukti,catatan_amar
0,249/Pid.Sus/2024/PN Mtr,PN MATARAM,: - 1 (satu) bungkus Narkotika jenis Shabu dib...,M E N G A D I L I: Menyatakan Terdakwa Burhanu...
1,251/Pid.Sus/2024/PN Mtr,PN MATARAM,: 22 (dua puluh dua) bungkus plastik bening ya...,MENGADILI: Menyatakan Terdakwa Mustar Irawan A...
2,261/Pid.Sus/2024/PN Mtr,PN MATARAM,: 1 (satu) buah plastic klip bening berisi kri...,M E N G A D I L I: Menyatakan Terdakwa Syarifu...
3,268/Pid.Sus/2024/PN Mtr,PN MATARAM,: 1. 1 (satu) buah wadah berbentuk gelas warna...,M E N G A D I L I: Menyatakan Terdakwa terdakw...
4,299/Pid.Sus/2024/PN Mtr,PN MATARAM,: - 1 (satu) dompet warna hitam,Menyatakan Terdakwa Sri Hikmawati Binti H. Bah...

# EDA (Exploratory Data Analysis)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nomor              50 non-null     object
 1   lembaga_peradilan  50 non-null     object
 2   barang bukti       50 non-null     object
 3   catatan_amar       50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [8]:
df.isnull().sum()

nomor                0
lembaga_peradilan    0
barang bukti         0
catatan_amar         0
dtype: int64

# Pre-processing

In [ ]:
def data_cleaning(text):
    text = re.sub(r'[^\w\s]', '', text)  # Menghapus tanda baca menggunakan ekspresi reguler
    text = text.replace('_', '')  # Menghapus underscore
    text = text.replace('m e n g a d i l i', 'mengadili')
    text = text.replace('M E N G A D I L I', 'mengadili')
    return text.lower()

df['Barang_Bukti'] = df['Barang_Bukti'].apply(data_cleaning)
df['catatan_amar'] = df['catatan_amar'].apply(data_cleaning)